extends layout

block content
  if(!currentUser)
    .fill-container
      .center-container
        form.login-form(action="/login",method="post")
          p.error=error
          label Username:
            input(name="username")
          label Password:
            input(name="password",type="password")
          button Login
          a(href="/signup") Signup
  else
    p.test-data test
    .horizontal-center
      .add-button +
      p.error=error
    .opaque-background
      form.add-ticker(action="/add-ticker",method="post")
        p.close-form [X]
        p.error
        label Exchange
          select(name="exchange",class="exchange")
        label Cryptocurrency
          select(name="currency",class="currency")
        label Against
          select(name="against",class="against")
        label Volume
          input(name="volume",id="volume",type="number",step="any")
        label Buy-in
          input(name="buyIn",id="buyIn",type="number",step="any")
        button(type="submit") Add
    .ticker-container
      each item in ticker_arr
        .ticker
          form.del-ticker(action='/del-ticker',method='post')
            button X
            input.hidden(value=item.id,name='id')
          .label-container
            h3.label Exchange :
              h2.display-exchange=item.exchange
            h3.label Currency :
              h2.display-currency=item.currency
            h3.label Stake :
              h2.display-volume.display=item.volume
            h3.label Buy-In :
              h2.display-buyIn.display=item.buyIn
            h3.label Pair :
              h2.display-buyIn.display=item.pair
          .value-container
            h3.label Original Value :
              h2.display-Ovalue.val=item.Ovalue + " " + item.against
            h3.label Current Value :
              h2.display-Cvalue.val=item.Cvalue + " " + item.against
              h3.label Gained Value :
                h2.display-Gvalue.val 0
